@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/firamono.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1 Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/mplus.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
